<template name="iconLookup">
  <optgroup label="New Icons in 4.3.0">
    <option {{isSelected 'fa-angellist' ../..}} value="fa-angellist">fa-angellist</option>
    <option {{isSelected 'fa-area-chart' ../..}} value="fa-area-chart">fa-area-chart</option>
    <option {{isSelected 'fa-at' ../..}} value="fa-at">fa-at</option>
    <option {{isSelected 'fa-bell-slash' ../..}} value="fa-bell-slash">fa-bell-slash</option>
    <option {{isSelected 'fa-bell-slash-o' ../..}} value="fa-bell-slash-o">fa-bell-slash-o</option>
    <option {{isSelected 'fa-bicycle' ../..}} value="fa-bicycle">fa-bicycle</option>
    <option {{isSelected 'fa-binoculars' ../..}} value="fa-binoculars">fa-binoculars</option>
    <option {{isSelected 'fa-birthday-cake' ../..}} value="fa-birthday-cake">fa-birthday-cake</option>
    <option {{isSelected 'fa-bus' ../..}} value="fa-bus">fa-bus</option>
    <option {{isSelected 'fa-calculator' ../..}} value="fa-calculator">fa-calculator</option>
    <option {{isSelected 'fa-cc' ../..}} value="fa-cc">fa-cc</option>
    <option {{isSelected 'fa-cc-amex' ../..}} value="fa-cc-amex">fa-cc-amex</option>
    <option {{isSelected 'fa-cc-discover' ../..}} value="fa-cc-discover">fa-cc-discover</option>
    <option {{isSelected 'fa-cc-mastercard' ../..}} value="fa-cc-mastercard">fa-cc-mastercard</option>
    <option {{isSelected 'fa-cc-paypal' ../..}} value="fa-cc-paypal">fa-cc-paypal</option>
    <option {{isSelected 'fa-cc-stripe' ../..}} value="fa-cc-stripe">fa-cc-stripe</option>
    <option {{isSelected 'fa-cc-visa' ../..}} value="fa-cc-visa">fa-cc-visa</option>
    <option {{isSelected 'fa-copyright' ../..}} value="fa-copyright">fa-copyright</option>
    <option {{isSelected 'fa-eyedropper' ../..}} value="fa-eyedropper">fa-eyedropper</option>
    <option {{isSelected 'fa-futbol-o' ../..}} value="fa-futbol-o">fa-futbol-ofa-futbol-o</option>
    <option {{isSelected 'fa-google-wallet' ../..}} value="fa-google-wallet">fa-google-wallet</option>
    <option {{isSelected 'fa-ils' ../..}} value="fa-ils">fa-ils</option>
    <option {{isSelected 'fa-ioxhost' ../..}} value="fa-ioxhost">fa-ioxhost</option>
    <option {{isSelected 'fa-lastfm' ../..}} value="fa-lastfm">fa-lastfm</option>
    <option {{isSelected 'fa-lastfm-square' ../..}} value="fa-lastfm-square">fa-lastfm-square</option>
    <option {{isSelected 'fa-line-chart' ../..}} value="fa-line-chart">fa-line-chart</option>
    <option {{isSelected 'fa-meanpath' ../..}} value="fa-meanpath">fa-meanpath</option>
    <option {{isSelected 'fa-newspaper-o' ../..}} value="fa-newspaper-o">fa-newspaper-o</option>
    <option {{isSelected 'fa-paint-brush' ../..}} value="fa-paint-brush">fa-paint-brush</option>
    <option {{isSelected 'fa-paypal' ../..}} value="fa-paypal">fa-paypal</option>
    <option {{isSelected 'fa-pie-chart' ../..}} value="fa-pie-chart">fa-pie-chart</option>
    <option {{isSelected 'fa-plug' ../..}} value="fa-plug">fa-plug</option>
    <option {{isSelected 'fa-shekel' ../..}} value="fa-shekel">fa-shekel</option>
    <option {{isSelected 'fa-sheqel' ../..}} value="fa-sheqel">fa-sheqel</option>
    <option {{isSelected 'fa-slideshare' ../..}} value="fa-slideshare">fa-slideshare</option>
    <option {{isSelected 'fa-soccer-ball-o' ../..}} value="fa-soccer-ball-o">fa-soccer-ball-o</option>
    <option {{isSelected 'fa-toggle-off' ../..}} value="fa-toggle-off">fa-toggle-off</option>
    <option {{isSelected 'fa-toggle-on' ../..}} value="fa-toggle-on">fa-toggle-on</option>
    <option {{isSelected 'fa-trash' ../..}} value="fa-trash">fa-trash</option>
    <option {{isSelected 'fa-tty' ../..}} value="fa-tty">fa-tty</option>
    <option {{isSelected 'fa-twitch' ../..}} value="fa-twitch">fa-twitch</option>
    <option {{isSelected 'fa-wifi' ../..}} value="fa-wifi">fa-wifi</option>
    <option {{isSelected 'fa-yelp' ../..}} value="fa-yelp">fa-yelp</option>
  </optgroup>
  <optgroup label="New Icons in 4.1.0">
    <option {{isSelected 'fa-rub' ../..}} value="fa-rub">fa-rub</option>
    <option {{isSelected 'fa-ruble' ../..}} value="fa-ruble">fa-ruble</option>
    <option {{isSelected 'fa-rouble' ../..}} value="fa-rouble">fa-rouble</option>
    <option {{isSelected 'fa-pagelines' ../..}} value="fa-pagelines">fa-pagelines</option>
    <option {{isSelected 'fa-stack-exchange' ../..}} value="fa-stack-exchange">fa-stack-exchange</option>
    <option {{isSelected 'fa-arrow-circle-o-right' ../..}} value="fa-arrow-circle-o-right">fa-arrow-circle-o-right</option>
    <option {{isSelected 'fa-arrow-circle-o-left' ../..}} value="fa-arrow-circle-o-left">fa-arrow-circle-o-left</option>
    <option {{isSelected 'fa-caret-square-o-left' ../..}} value="fa-caret-square-o-left">fa-caret-square-o-left</option>
    <option {{isSelected 'fa-toggle-left' ../..}} value="fa-toggle-left">fa-toggle-left</option>
    <option {{isSelected 'fa-dot-circle-o' ../..}} value="fa-dot-circle-o">fa-dot-circle-o</option>
    <option {{isSelected 'fa-wheelchair' ../..}} value="fa-wheelchair">fa-wheelchair</option>
    <option {{isSelected 'fa-vimeo-square' ../..}} value="fa-vimeo-square">fa-vimeo-square</option>
    <option {{isSelected 'fa-try' ../..}} value="fa-try">fa-try</option>
    <option {{isSelected 'fa-turkish-lira' ../..}} value="fa-turkish-lira">fa-turkish-lira</option>
    <option {{isSelected 'fa-plus-square-o' ../..}} value="fa-plus-square-o">fa-plus-square-o</option>
    <option {{isSelected 'fa-automobile' ../..}} value="fa-automobile">fa-automobile</option>
    <option {{isSelected 'fa-bank' ../..}} value="fa-bank">fa-bank</option>
    <option {{isSelected 'fa-behance' ../..}} value="fa-behance">fa-behance</option>
    <option {{isSelected 'fa-behance-square' ../..}} value="fa-behance-square">fa-behance-square</option>
    <option {{isSelected 'fa-bomb' ../..}} value="fa-bomb">fa-bomb</option>
    <option {{isSelected 'fa-building' ../..}} value="fa-building">fa-building</option>
    <option {{isSelected 'fa-cab' ../..}} value="fa-cab">fa-cab</option>
    <option {{isSelected 'fa-car' ../..}} value="fa-car">fa-car</option>
    <option {{isSelected 'fa-child' ../..}} value="fa-child">fa-child</option>
    <option {{isSelected 'fa-circle-o-notch' ../..}} value="fa-circle-o-notch">fa-circle-o-notch</option>
    <option {{isSelected 'fa-circle-thin' ../..}} value="fa-circle-thin">fa-circle-thin</option>
    <option {{isSelected 'fa-codepen' ../..}} value="fa-codepen">fa-codepen</option>
    <option {{isSelected 'fa-cube' ../..}} value="fa-cube">fa-cube</option>
    <option {{isSelected 'fa-cubes' ../..}} value="fa-cubes">fa-cubes</option>
    <option {{isSelected 'fa-database' ../..}} value="fa-database">fa-database</option>
    <option {{isSelected 'fa-delicious' ../..}} value="fa-delicious">fa-delicious</option>
    <option {{isSelected 'fa-deviantart' ../..}} value="fa-deviantart">fa-deviantart</option>
    <option {{isSelected 'fa-digg' ../..}} value="fa-digg">fa-digg</option>
    <option {{isSelected 'fa-drupal' ../..}} value="fa-drupal">fa-drupal</option>
    <option {{isSelected 'fa-empire' ../..}} value="fa-empire">fa-empire</option>
    <option {{isSelected 'fa-envelope-square' ../..}} value="fa-envelope-square">fa-envelope-square</option>
    <option {{isSelected 'fa-fax' ../..}} value="fa-fax">fa-fax</option>
    <option {{isSelected 'fa-file-archive-o' ../..}} value="fa-file-archive-o">fa-file-archive-o</option>
    <option {{isSelected 'fa-file-audio-o' ../..}} value="fa-file-audio-o">fa-file-audio-o</option>
    <option {{isSelected 'fa-file-code-o' ../..}} value="fa-file-code-o">fa-file-code-o</option>
    <option {{isSelected 'fa-file-excel-o' ../..}} value="fa-file-excel-o">fa-file-excel-o</option>
    <option {{isSelected 'fa-file-image-o' ../..}} value="fa-file-image-o">fa-file-image-o</option>
    <option {{isSelected 'fa-file-movie-o' ../..}} value="fa-file-movie-o">fa-file-movie-o</option>
    <option {{isSelected 'fa-file-pdf-o' ../..}} value="fa-file-pdf-o">fa-file-pdf-o</option>
    <option {{isSelected 'fa-file-photo-o' ../..}} value="fa-file-photo-o">fa-file-photo-o</option>
    <option {{isSelected 'fa-file-picture-' ../..}} value="fa-file-picture-">fa-file-picture-</option>
    <option {{isSelected 'fa-file-powerpoint-o' ../..}} value="fa-file-powerpoint-o">fa-file-powerpoint-o</option>
    <option {{isSelected 'fa-file-sound-o' ../..}} value="fa-file-sound-o">fa-file-sound-o</option>
    <option {{isSelected 'fa-file-video-o' ../..}} value="fa-file-video-o">fa-file-video-o</option>
    <option {{isSelected 'fa-file-word-o' ../..}} value="fa-file-word-o">fa-file-word-o</option>
    <option {{isSelected 'fa-file-zip-o' ../..}} value="fa-file-zip-o">fa-file-zip-o</option>
    <option {{isSelected 'fa-ge' ../..}} value="fa-ge">fa-ge</option>
    <option {{isSelected 'fa-git' ../..}} value="fa-git">fa-git</option>
    <option {{isSelected 'fa-git-square' ../..}} value="fa-git-square">fa-git-square</option>
    <option {{isSelected 'fa-google' ../..}} value="fa-google">fa-google</option>
    <option {{isSelected 'fa-graduation-cap' ../..}} value="fa-graduation-cap">fa-graduation-cap</option>
    <option {{isSelected 'a-hacker-news' ../..}} value="a-hacker-news">a-hacker-news</option>
    <option {{isSelected 'fa-header' ../..}} value="fa-header">fa-header</option>
    <option {{isSelected 'fa-history' ../..}} value="fa-history">fa-history</option>
    <option {{isSelected 'fa-institution' ../..}} value="fa-institution">fa-institution</option>
    <option {{isSelected 'fa-joomla' ../..}} value="fa-joomla">fa-joomla</option>
    <option {{isSelected 'fa-jsfiddle' ../..}} value="fa-jsfiddle">fa-jsfiddle</option>
    <option {{isSelected 'fa-language' ../..}} value="fa-language">fa-language</option>
    <option {{isSelected 'fa-life-bouy' ../..}} value="fa-life-bouy">fa-life-bouy</option>
    <option {{isSelected 'fa-life-ring' ../..}} value="fa-life-ring">fa-life-ring</option>
    <option {{isSelected 'fa-life-saver' ../..}} value="fa-life-saver">fa-life-saver</option>
    <option {{isSelected 'fa-mortar-board' ../..}} value="fa-mortar-board">fa-mortar-board</option>
    <option {{isSelected 'fa-openid' ../..}} value="fa-openid">fa-openid</option>
    <option {{isSelected 'fa-paper-plane' ../..}} value="fa-paper-plane">fa-paper-plane</option>
    <option {{isSelected 'fa-paper-plane-o' ../..}} value="fa-paper-plane-o">fa-paper-plane-o</option>
    <option {{isSelected 'fa-paragraph' ../..}} value="fa-paragraph">fa-paragraph</option>
    <option {{isSelected 'fa-paw' ../..}} value="fa-paw">fa-paw</option>
    <option {{isSelected 'fa-pied-piper' ../..}} value="fa-pied-piper">fa-pied-piper</option>
    <option {{isSelected 'fa-pied-piper-alt' ../..}} value="fa-pied-piper-alt">fa-pied-piper-alt</option>
    <option {{isSelected 'fa-pied-piper-square' ../..}} value="fa-pied-piper-square">fa-pied-piper-square</option>
    <option {{isSelected 'fa-qq' ../..}} value="fa-qq">fa-qq</option>
    <option {{isSelected 'fa-ra' ../..}} value="fa-ra">fa-ra</option>
    <option {{isSelected 'fa-rebel' ../..}} value="fa-rebel">fa-rebel</option>
    <option {{isSelected 'fa-recycle' ../..}} value="fa-recycle">fa-recycle</option>
    <option {{isSelected 'fa-reddit' ../..}} value="fa-reddit">fa-reddit</option>
    <option {{isSelected 'fa-reddit-square' ../..}} value="fa-reddit-square">fa-reddit-square</option>
    <option {{isSelected 'fa-send' ../..}} value="fa-send">fa-send</option>
    <option {{isSelected 'fa-send-o' ../..}} value="fa-send-o">fa-send-o</option>
    <option {{isSelected 'fa-share-alt' ../..}} value="fa-share-alt">fa-share-alt</option>
    <option {{isSelected 'fa-share-alt-square' ../..}} value="fa-share-alt-square">fa-share-alt-square</option>
    <option {{isSelected 'fa-slack' ../..}} value="fa-slack">fa-slack</option>
    <option {{isSelected 'fa-sliders' ../..}} value="fa-sliders">fa-sliders</option>
    <option {{isSelected 'fa-soundcloud' ../..}} value="fa-soundcloud">fa-soundcloud</option>
    <option {{isSelected 'fa-space-shuttle' ../..}} value="fa-space-shuttle">fa-space-shuttle</option>
    <option {{isSelected 'fa-spoon' ../..}} value="fa-spoon">fa-spoon</option>
    <option {{isSelected 'fa-spotify' ../..}} value="fa-spotify">fa-spotify</option>
    <option {{isSelected 'fa-steam' ../..}} value="fa-steam">fa-steam</option>
    <option {{isSelected 'fa-steam-square' ../..}} value="fa-steam-square">fa-steam-square</option>
    <option {{isSelected 'fa-stumbleupon' ../..}} value="fa-stumbleupon">fa-stumbleupon</option>
    <option {{isSelected 'fa-stumbleupon-circle' ../..}} value="fa-stumbleupon-circle">fa-stumbleupon-circle</option>
    <option {{isSelected 'fa-support' ../..}} value="fa-support">fa-support</option>
    <option {{isSelected 'fa-taxi' ../..}} value="fa-taxi">fa-taxi</option>
    <option {{isSelected 'fa-tencent-weibo' ../..}} value="fa-tencent-weibo">fa-tencent-weibo</option>
    <option {{isSelected 'fa-tree' ../..}} value="fa-tree">fa-tree</option>
    <option {{isSelected 'fa-university' ../..}} value="fa-university">fa-university</option>
    <option {{isSelected 'fa-vine' ../..}} value="fa-vine">fa-vine</option>
    <option {{isSelected 'fa-wechat' ../..}} value="fa-wechat">fa-wechat</option>
    <option {{isSelected 'fa-weixin' ../..}} value="fa-weixin">fa-weixin</option>
    <option {{isSelected 'fa-wordpress' ../..}} value="fa-wordpress">fa-wordpress</option>
    <option {{isSelected 'fa-yahoo' ../..}} value="fa-yahoo">fa-yahoo</option>
  </optgroup>
  <optgroup label="Web Application Icons">
    <option {{isSelected 'fa-adjust' ../..}} value="fa-adjust">fa-adjust</option>
    <option {{isSelected 'fa-anchor' ../..}} value="fa-anchor">fa-anchor</option>
    <option {{isSelected 'fa-archive' ../..}} value="fa-archive">fa-archive</option>
    <option {{isSelected 'fa-arrows' ../..}} value="fa-arrows">fa-arrows</option>
    <option {{isSelected 'fa-arrows-h' ../..}} value="fa-arrows-h">fa-arrows-h</option>
    <option {{isSelected 'fa-arrows-v' ../..}} value="fa-arrows-v">fa-arrows-v</option>
    <option {{isSelected 'fa-asterisk' ../..}} value="fa-asterisk">fa-asterisk</option>
    <option {{isSelected 'fa-ban' ../..}} value="fa-ban">fa-ban</option>
    <option {{isSelected 'fa-bar-chart-o' ../..}} value="fa-bar-chart-o">fa-bar-chart-o</option>
    <option {{isSelected 'fa-barcode' ../..}} value="fa-barcode">fa-barcode</option>
    <option {{isSelected 'fa-bars' ../..}} value="fa-bars">fa-bars</option>
    <option {{isSelected 'fa-beer' ../..}} value="fa-beer">fa-beer</option>
    <option {{isSelected 'fa-bell' ../..}} value="fa-bell">fa-bell</option>
    <option {{isSelected 'fa-bell-o' ../..}} value="fa-bell-o">fa-bell-o</option>
    <option {{isSelected 'fa-bolt' ../..}} value="fa-bolt">fa-bolt</option>
    <option {{isSelected 'fa-book' ../..}} value="fa-book">fa-book</option>
    <option {{isSelected 'fa-bookmark' ../..}} value="fa-bookmark">fa-bookmark</option>
    <option {{isSelected 'fa-bookmark-o' ../..}} value="fa-bookmark-o">fa-bookmark-o</option>
    <option {{isSelected 'fa-briefcase' ../..}} value="fa-briefcase">fa-briefcase</option>
    <option {{isSelected 'fa-bug' ../..}} value="fa-bug">fa-bug</option>
    <option {{isSelected 'fa-building-o' ../..}} value="fa-building-o">fa-building-o</option>
    <option {{isSelected 'fa-bullhorn' ../..}} value="fa-bullhorn">fa-bullhorn</option>
    <option {{isSelected 'fa-bullseye' ../..}} value="fa-bullseye">fa-bullseye</option>
    <option {{isSelected 'fa-calendar' ../..}} value="fa-calendar">fa-calendar</option>
    <option {{isSelected 'fa-calendar-o' ../..}} value="fa-calendar-o">fa-calendar-o</option>
    <option {{isSelected 'fa-camera' ../..}} value="fa-camera">fa-camera</option>
    <option {{isSelected 'fa-camera-retro' ../..}} value="fa-camera-retro">fa-camera-retro</option>
    <option {{isSelected 'fa-caret-square-o-down' ../..}} value="fa-caret-square-o-down">fa-caret-square-o-down</option>
    <option {{isSelected 'fa-caret-square-o-left' ../..}} value="fa-caret-square-o-left">fa-caret-square-o-left</option>
    <option {{isSelected 'fa-caret-square-o-right' ../..}} value="fa-caret-square-o-right">fa-caret-square-o-right</option>
    <option {{isSelected 'fa-caret-square-o-up' ../..}} value="fa-caret-square-o-up">fa-caret-square-o-up</option>
    <option {{isSelected 'fa-certificate' ../..}} value="fa-certificate">fa-certificate</option>
    <option {{isSelected 'fa-check' ../..}} value="fa-check">fa-check</option>
    <option {{isSelected 'fa-check-circle' ../..}} value="fa-check-circle">fa-check-circle</option>
    <option {{isSelected 'fa-check-circle-o' ../..}} value="fa-check-circle-o">fa-check-circle-o</option>
    <option {{isSelected 'fa-check-square' ../..}} value="fa-check-square">fa-check-square</option>
    <option {{isSelected 'fa-check-square-o' ../..}} value="fa-check-square-o">fa-check-square-o</option>
    <option {{isSelected 'fa-circle' ../..}} value="fa-circle">fa-circle</option>
    <option {{isSelected 'fa-circle-o' ../..}} value="fa-circle-o">fa-circle-o</option>
    <option {{isSelected 'fa-clock-o' ../..}} value="fa-clock-o">fa-clock-o</option>
    <option {{isSelected 'fa-cloud' ../..}} value="fa-cloud">fa-cloud</option>
    <option {{isSelected 'fa-cloud-download' ../..}} value="fa-cloud-download">fa-cloud-download</option>
    <option {{isSelected 'fa-cloud-upload' ../..}} value="fa-cloud-upload">fa-cloud-upload</option>
    <option {{isSelected 'fa-code' ../..}} value="fa-code">fa-code</option>
    <option {{isSelected 'fa-code-fork' ../..}} value="fa-code-fork">fa-code-fork</option>
    <option {{isSelected 'fa-coffee' ../..}} value="fa-coffee">fa-coffee</option>
    <option {{isSelected 'fa-cog' ../..}} value="fa-cog">fa-cog</option>
    <option {{isSelected 'fa-cogs' ../..}} value="fa-cogs">fa-cogs</option>
    <option {{isSelected 'fa-comment' ../..}} value="fa-comment">fa-comment</option>
    <option {{isSelected 'fa-comment-o' ../..}} value="fa-comment-o">fa-comment-o</option>
    <option {{isSelected 'fa-comments' ../..}} value="fa-comments">fa-comments</option>
    <option {{isSelected 'fa-comments-o' ../..}} value="fa-comments-o">fa-comments-o</option>
    <option {{isSelected 'fa-compass' ../..}} value="fa-compass">fa-compass</option>
    <option {{isSelected 'fa-credit-card' ../..}} value="fa-credit-card">fa-credit-card</option>
    <option {{isSelected 'fa-crop' ../..}} value="fa-crop">fa-crop</option>
    <option {{isSelected 'fa-crosshairs' ../..}} value="fa-crosshairs">fa-crosshairs</option>
    <option {{isSelected 'fa-cutlery' ../..}} value="fa-cutlery">fa-cutlery</option>
    <option {{isSelected 'fa-dashboard' ../..}} value="fa-dashboard">fa-dashboard</option>
    <option {{isSelected 'fa-desktop' ../..}} value="fa-desktop">fa-desktop</option>
    <option {{isSelected 'fa-dot-circle-o' ../..}} value="fa-dot-circle-o">fa-dot-circle-o</option>
    <option {{isSelected 'fa-download' ../..}} value="fa-download">fa-download</option>
    <option {{isSelected 'fa-edit' ../..}} value="fa-edit">fa-edit</option>
    <option {{isSelected 'fa-ellipsis-h' ../..}} value="fa-ellipsis-h">fa-ellipsis-h</option>
    <option {{isSelected 'fa-ellipsis-v' ../..}} value="fa-ellipsis-v">fa-ellipsis-v</option>
    <option {{isSelected 'fa-envelope' ../..}} value="fa-envelope">fa-envelope</option>
    <option {{isSelected 'fa-envelope-o' ../..}} value="fa-envelope-o">fa-envelope-o</option>
    <option {{isSelected 'fa-eraser' ../..}} value="fa-eraser">fa-eraser</option>
    <option {{isSelected 'fa-exchange' ../..}} value="fa-exchange">fa-exchange</option>
    <option {{isSelected 'fa-exclamation' ../..}} value="fa-exclamation">fa-exclamation</option>
    <option {{isSelected 'fa-exclamation-circle' ../..}} value="fa-exclamation-circle">fa-exclamation-circle</option>
    <option {{isSelected 'fa-exclamation-triangle' ../..}} value="fa-exclamation-triangle">fa-exclamation-triangle</option>
    <option {{isSelected 'fa-external-link' ../..}} value="fa-external-link">fa-external-link</option>
    <option {{isSelected 'fa-external-link-square' ../..}} value="fa-external-link-square">fa-external-link-square</option>
    <option {{isSelected 'fa-eye' ../..}} value="fa-eye">fa-eye</option>
    <option {{isSelected 'fa-eye-slash' ../..}} value="fa-eye-slash">fa-eye-slash</option>
    <option {{isSelected 'fa-female' ../..}} value="fa-female">fa-female</option>
    <option {{isSelected 'fa-fighter-jet' ../..}} value="fa-fighter-jet">fa-fighter-jet</option>
    <option {{isSelected 'fa-film' ../..}} value="fa-film">fa-film</option>
    <option {{isSelected 'fa-filter' ../..}} value="fa-filter">fa-filter</option>
    <option {{isSelected 'fa-fire' ../..}} value="fa-fire">fa-fire</option>
    <option {{isSelected 'fa-fire-extinguisher' ../..}} value="fa-fire-extinguisher">fa-fire-extinguisher</option>
    <option {{isSelected 'fa-flag' ../..}} value="fa-flag">fa-flag</option>
    <option {{isSelected 'fa-flag-checkered' ../..}} value="fa-flag-checkered">fa-flag-checkered</option>
    <option {{isSelected 'fa-flag-o' ../..}} value="fa-flag-o">fa-flag-o</option>
    <option {{isSelected 'fa-flash' ../..}} value="fa-flash">fa-flash</option>
    <option {{isSelected 'fa-flask' ../..}} value="fa-flask">fa-flask</option>
    <option {{isSelected 'fa-folder' ../..}} value="fa-folder">fa-folder</option>
    <option {{isSelected 'fa-folder-o' ../..}} value="fa-folder-o">fa-folder-o</option>
    <option {{isSelected 'fa-folder-open' ../..}} value="fa-folder-open">fa-folder-open</option>
    <option {{isSelected 'fa-folder-open-o' ../..}} value="fa-folder-open-o">fa-folder-open-o</option>
    <option {{isSelected 'fa-frown-o' ../..}} value="fa-frown-o">fa-frown-o</option>
    <option {{isSelected 'fa-gamepad' ../..}} value="fa-gamepad">fa-gamepad</option>
    <option {{isSelected 'fa-gavel' ../..}} value="fa-gavel">fa-gavel</option>
    <option {{isSelected 'fa-gear' ../..}} value="fa-gear">fa-gear</option>
    <option {{isSelected 'fa-gears' ../..}} value="fa-gears">fa-gears</option>
    <option {{isSelected 'fa-gift' ../..}} value="fa-gift">fa-gift</option>
    <option {{isSelected 'fa-glass' ../..}} value="fa-glass">fa-glass</option>
    <option {{isSelected 'fa-globe' ../..}} value="fa-globe">fa-globe</option>
    <option {{isSelected 'fa-group' ../..}} value="fa-group">fa-group</option>
    <option {{isSelected 'fa-hdd-o' ../..}} value="fa-hdd-o">fa-hdd-o</option>
    <option {{isSelected 'fa-headphones' ../..}} value="fa-headphones">fa-headphones</option>
    <option {{isSelected 'fa-heart' ../..}} value="fa-heart">fa-heart</option>
    <option {{isSelected 'fa-heart-o' ../..}} value="fa-heart-o">fa-heart-o</option>
    <option {{isSelected 'fa-home' ../..}} value="fa-home">fa-home</option>
    <option {{isSelected 'fa-inbox' ../..}} value="fa-inbox">fa-inbox</option>
    <option {{isSelected 'fa-info' ../..}} value="fa-info">fa-info</option>
    <option {{isSelected 'fa-info-circle' ../..}} value="fa-info-circle">fa-info-circle</option>
    <option {{isSelected 'fa-key' ../..}} value="fa-key">fa-key</option>
    <option {{isSelected 'fa-keyboard-o' ../..}} value="fa-keyboard-o">fa-keyboard-o</option>
    <option {{isSelected 'fa-laptop' ../..}} value="fa-laptop">fa-laptop</option>
    <option {{isSelected 'fa-leaf' ../..}} value="fa-leaf">fa-leaf</option>
    <option {{isSelected 'fa-legal' ../..}} value="fa-legal">fa-legal</option>
    <option {{isSelected 'fa-lemon-o' ../..}} value="fa-lemon-o">fa-lemon-o</option>
    <option {{isSelected 'fa-level-down' ../..}} value="fa-level-down">fa-level-down</option>
    <option {{isSelected 'fa-level-up' ../..}} value="fa-level-up">fa-level-up</option>
    <option {{isSelected 'fa-lightbulb-o' ../..}} value="fa-lightbulb-o">fa-lightbulb-o</option>
    <option {{isSelected 'fa-location-arrow' ../..}} value="fa-location-arrow">fa-location-arrow</option>
    <option {{isSelected 'fa-lock' ../..}} value="fa-lock">fa-lock</option>
    <option {{isSelected 'fa-magic' ../..}} value="fa-magic">fa-magic</option>
    <option {{isSelected 'fa-magnet' ../..}} value="fa-magnet">fa-magnet</option>
    <option {{isSelected 'fa-mail-forward' ../..}} value="fa-mail-forward">fa-mail-forward</option>
    <option {{isSelected 'fa-mail-reply' ../..}} value="fa-mail-reply">fa-mail-reply</option>
    <option {{isSelected 'fa-mail-reply-all' ../..}} value="fa-mail-reply-all">fa-mail-reply-all</option>
    <option {{isSelected 'fa-male' ../..}} value="fa-male">fa-male</option>
    <option {{isSelected 'fa-map-marker' ../..}} value="fa-map-marker">fa-map-marker</option>
    <option {{isSelected 'fa-meh-o' ../..}} value="fa-meh-o">fa-meh-o</option>
    <option {{isSelected 'fa-microphone' ../..}} value="fa-microphone">fa-microphone</option>
    <option {{isSelected 'fa-microphone-slash' ../..}} value="fa-microphone-slash">fa-microphone-slash</option>
    <option {{isSelected 'fa-minus' ../..}} value="fa-minus">fa-minus</option>
    <option {{isSelected 'fa-minus-circle' ../..}} value="fa-minus-circle">fa-minus-circle</option>
    <option {{isSelected 'fa-minus-square' ../..}} value="fa-minus-square">fa-minus-square</option>
    <option {{isSelected 'fa-minus-square-o' ../..}} value="fa-minus-square-o">fa-minus-square-o</option>
    <option {{isSelected 'fa-mobile' ../..}} value="fa-mobile">fa-mobile</option>
    <option {{isSelected 'fa-mobile-phone' ../..}} value="fa-mobile-phone">fa-mobile-phone</option>
    <option {{isSelected 'fa-money' ../..}} value="fa-money">fa-money</option>
    <option {{isSelected 'fa-moon-o' ../..}} value="fa-moon-o">fa-moon-o</option>
    <option {{isSelected 'fa-music' ../..}} value="fa-music">fa-music</option>
    <option {{isSelected 'fa-pencil' ../..}} value="fa-pencil">fa-pencil</option>
    <option {{isSelected 'fa-pencil-square' ../..}} value="fa-pencil-square">fa-pencil-square</option>
    <option {{isSelected 'fa-pencil-square-o' ../..}} value="fa-pencil-square-o">fa-pencil-square-o</option>
    <option {{isSelected 'fa-phone' ../..}} value="fa-phone">fa-phone</option>
    <option {{isSelected 'fa-phone-square' ../..}} value="fa-phone-square">fa-phone-square</option>
    <option {{isSelected 'fa-picture-o' ../..}} value="fa-picture-o">fa-picture-o</option>
    <option {{isSelected 'fa-plane' ../..}} value="fa-plane">fa-plane</option>
    <option {{isSelected 'fa-plus' ../..}} value="fa-plus">fa-plus</option>
    <option {{isSelected 'fa-plus-circle' ../..}} value="fa-plus-circle">fa-plus-circle</option>
    <option {{isSelected 'fa-plus-square' ../..}} value="fa-plus-square">fa-plus-square</option>
    <option {{isSelected 'fa-plus-square-o' ../..}} value="fa-plus-square-o">fa-plus-square-o</option>
    <option {{isSelected 'fa-power-off' ../..}} value="fa-power-off">fa-power-off</option>
    <option {{isSelected 'fa-print' ../..}} value="fa-print">fa-print</option>
    <option {{isSelected 'fa-puzzle-piece' ../..}} value="fa-puzzle-piece">fa-puzzle-piece</option>
    <option {{isSelected 'fa-qrcode' ../..}} value="fa-qrcode">fa-qrcode</option>
    <option {{isSelected 'fa-question' ../..}} value="fa-question">fa-question</option>
    <option {{isSelected 'fa-question-circle' ../..}} value="fa-question-circle">fa-question-circle</option>
    <option {{isSelected 'fa-quote-left' ../..}} value="fa-quote-left">fa-quote-left</option>
    <option {{isSelected 'fa-quote-right' ../..}} value="fa-quote-right">fa-quote-right</option>
    <option {{isSelected 'fa-random' ../..}} value="fa-random">fa-random</option>
    <option {{isSelected 'fa-refresh' ../..}} value="fa-refresh">fa-refresh</option>
    <option {{isSelected 'fa-reply' ../..}} value="fa-reply">fa-reply</option>
    <option {{isSelected 'fa-reply-all' ../..}} value="fa-reply-all">fa-reply-all</option>
    <option {{isSelected 'fa-retweet' ../..}} value="fa-retweet">fa-retweet</option>
    <option {{isSelected 'fa-road' ../..}} value="fa-road">fa-road</option>
    <option {{isSelected 'fa-rocket' ../..}} value="fa-rocket">fa-rocket</option>
    <option {{isSelected 'fa-rss' ../..}} value="fa-rss">fa-rss</option>
    <option {{isSelected 'fa-rss-square' ../..}} value="fa-rss-square">fa-rss-square</option>
    <option {{isSelected 'fa-search' ../..}} value="fa-search">fa-search</option>
    <option {{isSelected 'fa-search-minus' ../..}} value="fa-search-minus">fa-search-minus</option>
    <option {{isSelected 'fa-search-plus' ../..}} value="fa-search-plus">fa-search-plus</option>
    <option {{isSelected 'fa-share' ../..}} value="fa-share">fa-share</option>
    <option {{isSelected 'fa-share-square' ../..}} value="fa-share-square">fa-share-square</option>
    <option {{isSelected 'fa-share-square-o' ../..}} value="fa-share-square-o">fa-share-square-o</option>
    <option {{isSelected 'fa-shield' ../..}} value="fa-shield">fa-shield</option>
    <option {{isSelected 'fa-shopping-cart' ../..}} value="fa-shopping-cart">fa-shopping-cart</option>
    <option {{isSelected 'fa-sign-in' ../..}} value="fa-sign-in">fa-sign-in</option>
    <option {{isSelected 'fa-sign-out' ../..}} value="fa-sign-out">fa-sign-out</option>
    <option {{isSelected 'fa-signal' ../..}} value="fa-signal">fa-signal</option>
    <option {{isSelected 'fa-sitemap' ../..}} value="fa-sitemap">fa-sitemap</option>
    <option {{isSelected 'fa-smile-o' ../..}} value="fa-smile-o">fa-smile-o</option>
    <option {{isSelected 'fa-sort' ../..}} value="fa-sort">fa-sort</option>
    <option {{isSelected 'fa-sort-alpha-asc' ../..}} value="fa-sort-alpha-asc">fa-sort-alpha-asc</option>
    <option {{isSelected 'fa-sort-alpha-desc' ../..}} value="fa-sort-alpha-desc">fa-sort-alpha-desc</option>
    <option {{isSelected 'fa-sort-amount-asc' ../..}} value="fa-sort-amount-asc">fa-sort-amount-asc</option>
    <option {{isSelected 'fa-sort-amount-desc' ../..}} value="fa-sort-amount-desc">fa-sort-amount-desc</option>
    <option {{isSelected 'fa-sort-asc' ../..}} value="fa-sort-asc">fa-sort-asc</option>
    <option {{isSelected 'fa-sort-desc' ../..}} value="fa-sort-desc">fa-sort-desc</option>
    <option {{isSelected 'fa-sort-down' ../..}} value="fa-sort-down">fa-sort-down</option>
    <option {{isSelected 'fa-sort-numeric-asc' ../..}} value="fa-sort-numeric-asc">fa-sort-numeric-asc</option>
    <option {{isSelected 'fa-sort-numeric-desc' ../..}} value="fa-sort-numeric-desc">fa-sort-numeric-desc</option>
    <option {{isSelected 'fa-sort-up' ../..}} value="fa-sort-up">fa-sort-up</option>
    <option {{isSelected 'fa-spinner' ../..}} value="fa-spinner">fa-spinner</option>
    <option {{isSelected 'fa-square' ../..}} value="fa-square">fa-square</option>
    <option {{isSelected 'fa-square-o' ../..}} value="fa-square-o">fa-square-o</option>
    <option {{isSelected 'fa-star' ../..}} value="fa-star">fa-star</option>
    <option {{isSelected 'fa-star-half' ../..}} value="fa-star-half">fa-star-half</option>
    <option {{isSelected 'fa-star-half-empty' ../..}} value="fa-star-half-empty">fa-star-half-empty</option>
    <option {{isSelected 'fa-star-half-full' ../..}} value="fa-star-half-full">fa-star-half-full</option>
    <option {{isSelected 'fa-star-half-o' ../..}} value="fa-star-half-o">fa-star-half-o</option>
    <option {{isSelected 'fa-star-o' ../..}} value="fa-star-o">fa-star-o</option>
    <option {{isSelected 'fa-subscript' ../..}} value="fa-subscript">fa-subscript</option>
    <option {{isSelected 'fa-suitcase' ../..}} value="fa-suitcase">fa-suitcase</option>
    <option {{isSelected 'fa-sun-o' ../..}} value="fa-sun-o">fa-sun-o</option>
    <option {{isSelected 'fa-superscript' ../..}} value="fa-superscript">fa-superscript</option>
    <option {{isSelected 'fa-tablet' ../..}} value="fa-tablet">fa-tablet</option>
    <option {{isSelected 'fa-tachometer' ../..}} value="fa-tachometer">fa-tachometer</option>
    <option {{isSelected 'fa-tag' ../..}} value="fa-tag">fa-tag</option>
    <option {{isSelected 'fa-tags' ../..}} value="fa-tags">fa-tags</option>
    <option {{isSelected 'fa-tasks' ../..}} value="fa-tasks">fa-tasks</option>
    <option {{isSelected 'fa-terminal' ../..}} value="fa-terminal">fa-terminal</option>
    <option {{isSelected 'fa-thumb-tack' ../..}} value="fa-thumb-tack">fa-thumb-tack</option>
    <option {{isSelected 'fa-thumbs-down' ../..}} value="fa-thumbs-down">fa-thumbs-down</option>
    <option {{isSelected 'fa-thumbs-o-down' ../..}} value="fa-thumbs-o-down">fa-thumbs-o-down</option>
    <option {{isSelected 'fa-thumbs-o-up' ../..}} value="fa-thumbs-o-up">fa-thumbs-o-up</option>
    <option {{isSelected 'fa-thumbs-up' ../..}} value="fa-thumbs-up">fa-thumbs-up</option>
    <option {{isSelected 'fa-ticket' ../..}} value="fa-ticket">fa-ticket</option>
    <option {{isSelected 'fa-times' ../..}} value="fa-times">fa-times</option>
    <option {{isSelected 'fa-times-circle' ../..}} value="fa-times-circle">fa-times-circle</option>
    <option {{isSelected 'fa-times-circle-o' ../..}} value="fa-times-circle-o">fa-times-circle-o</option>
    <option {{isSelected 'fa-tint' ../..}} value="fa-tint">fa-tint</option>
    <option {{isSelected 'fa-toggle-down' ../..}} value="fa-toggle-down">fa-toggle-down</option>
    <option {{isSelected 'fa-toggle-left' ../..}} value="fa-toggle-left">fa-toggle-left</option>
    <option {{isSelected 'fa-toggle-right' ../..}} value="fa-toggle-right">fa-toggle-right</option>
    <option {{isSelected 'fa-toggle-up' ../..}} value="fa-toggle-up">fa-toggle-up</option>
    <option {{isSelected 'fa-trash-o' ../..}} value="fa-trash-o">fa-trash-o</option>
    <option {{isSelected 'fa-trophy' ../..}} value="fa-trophy">fa-trophy</option>
    <option {{isSelected 'fa-truck' ../..}} value="fa-truck">fa-truck</option>
    <option {{isSelected 'fa-umbrella' ../..}} value="fa-umbrella">fa-umbrella</option>
    <option {{isSelected 'fa-unlock' ../..}} value="fa-unlock">fa-unlock</option>
    <option {{isSelected 'fa-unlock-alt' ../..}} value="fa-unlock-alt">fa-unlock-alt</option>
    <option {{isSelected 'fa-unsorted' ../..}} value="fa-unsorted">fa-unsorted</option>
    <option {{isSelected 'fa-upload' ../..}} value="fa-upload">fa-upload</option>
    <option {{isSelected 'fa-user' ../..}} value="fa-user">fa-user</option>
    <option {{isSelected 'fa-users' ../..}} value="fa-users">fa-users</option>
    <option {{isSelected 'fa-video-camera' ../..}} value="fa-video-camera">fa-video-camera</option>
    <option {{isSelected 'fa-volume-down' ../..}} value="fa-volume-down">fa-volume-down</option>
    <option {{isSelected 'fa-volume-off' ../..}} value="fa-volume-off">fa-volume-off</option>
    <option {{isSelected 'fa-volume-up' ../..}} value="fa-volume-up">fa-volume-up</option>
    <option {{isSelected 'fa-warning' ../..}} value="fa-warning">fa-warning</option>
    <option {{isSelected 'fa-wheelchair' ../..}} value="fa-wheelchair">fa-wheelchair</option>
    <option {{isSelected 'fa-wrench' ../..}} value="fa-wrench">fa-wrench</option>
  </optgroup>
  <optgroup label="Form Control Icons">
    <option {{isSelected 'fa-check-square' ../..}} value="fa-check-square">fa-check-square</option>
    <option {{isSelected 'fa-check-square-o' ../..}} value="fa-check-square-o">fa-check-square-o</option>
    <option {{isSelected 'fa-circle' ../..}} value="fa-circle">fa-circle</option>
    <option {{isSelected 'fa-circle-o' ../..}} value="fa-circle-o">fa-circle-o</option>
    <option {{isSelected 'fa-dot-circle-o' ../..}} value="fa-dot-circle-o">fa-dot-circle-o</option>
    <option {{isSelected 'fa-minus-square' ../..}} value="fa-minus-square">fa-minus-square</option>
    <option {{isSelected 'fa-minus-square-o' ../..}} value="fa-minus-square-o">fa-minus-square-o</option>
    <option {{isSelected 'fa-plus-square' ../..}} value="fa-plus-square">fa-plus-square</option>
    <option {{isSelected 'fa-plus-square-o' ../..}} value="fa-plus-square-o">fa-plus-square-o</option>
    <option {{isSelected 'fa-square' ../..}} value="fa-square">fa-square</option>
    <option {{isSelected 'fa-square-o' ../..}} value="fa-square-o">fa-square-o</option>
  </optgroup>
  <optgroup label="Currency Icons">
    <option {{isSelected 'fa-bitcoin' ../..}} value="fa-bitcoin">fa-bitcoin</option>
    <option {{isSelected 'fa-btc' ../..}} value="fa-btc">fa-btc</option>
    <option {{isSelected 'fa-cny' ../..}} value="fa-cny">fa-cny</option>
    <option {{isSelected 'fa-dollar' ../..}} value="fa-dollar">fa-dollar</option>
    <option {{isSelected 'fa-eur' ../..}} value="fa-eur">fa-eur</option>
    <option {{isSelected 'fa-euro' ../..}} value="fa-euro">fa-euro</option>
    <option {{isSelected 'fa-gbp' ../..}} value="fa-gbp">fa-gbp</option>
    <option {{isSelected 'fa-inr' ../..}} value="fa-inr">fa-inr</option>
    <option {{isSelected 'fa-jpy' ../..}} value="fa-jpy">fa-jpy</option>
    <option {{isSelected 'fa-krw' ../..}} value="fa-krw">fa-krw</option>
    <option {{isSelected 'fa-money' ../..}} value="fa-money">fa-money</option>
    <option {{isSelected 'fa-rmb' ../..}} value="fa-rmb">fa-rmb</option>
    <option {{isSelected 'fa-rouble' ../..}} value="fa-rouble">fa-rouble</option>
    <option {{isSelected 'fa-rub' ../..}} value="fa-rub">fa-rub</option>
    <option {{isSelected 'fa-ruble' ../..}} value="fa-ruble">fa-ruble</option>
    <option {{isSelected 'fa-rupee' ../..}} value="fa-rupee">fa-rupee</option>
    <option {{isSelected 'fa-try' ../..}} value="fa-try">fa-try</option>
    <option {{isSelected 'fa-turkish-lira' ../..}} value="fa-turkish-lira">fa-turkish-lira</option>
    <option {{isSelected 'fa-usd' ../..}} value="fa-usd">fa-usd</option>
    <option {{isSelected 'fa-won' ../..}} value="fa-won">fa-won</option>
    <option {{isSelected 'fa-yen' ../..}} value="fa-yen">fa-yen</option>
  </optgroup>
    <optgroup label="Text Editor Icons">
    <option {{isSelected 'fa-align-center' ../..}} value="fa-align-center">fa-align-center</option>
    <option {{isSelected 'fa-align-justify' ../..}} value="fa-align-justify">fa-align-justify</option>
    <option {{isSelected 'fa-align-left' ../..}} value="fa-align-left">fa-align-left</option>
    <option {{isSelected 'fa-align-right' ../..}} value="fa-align-right">fa-align-right</option>
    <option {{isSelected 'fa-bold' ../..}} value="fa-bold">fa-bold</option>
    <option {{isSelected 'fa-chain' ../..}} value="fa-chain">fa-chain</option>
    <option {{isSelected 'fa-chain-broken' ../..}} value="fa-chain-broken">fa-chain-broken</option>
    <option {{isSelected 'fa-clipboard' ../..}} value="fa-clipboard">fa-clipboard</option>
    <option {{isSelected 'fa-columns' ../..}} value="fa-columns">fa-columns</option>
    <option {{isSelected 'fa-copy' ../..}} value="fa-copy">fa-copy</option>
    <option {{isSelected 'fa-cut' ../..}} value="fa-cut">fa-cut</option>
    <option {{isSelected 'fa-dedent' ../..}} value="fa-dedent">fa-dedent</option>
    <option {{isSelected 'fa-eraser' ../..}} value="fa-eraser">fa-eraser</option>
    <option {{isSelected 'fa-file' ../..}} value="fa-file">fa-file</option>
    <option {{isSelected 'fa-file-o' ../..}} value="fa-file-o">fa-file-o</option>
    <option {{isSelected 'fa-file-text' ../..}} value="fa-file-text">fa-file-text</option>
    <option {{isSelected 'fa-file-text-o' ../..}} value="fa-file-text-o">fa-file-text-o</option>
    <option {{isSelected 'fa-files-o' ../..}} value="fa-files-o">fa-files-o</option>
    <option {{isSelected 'fa-floppy-o' ../..}} value="fa-floppy-o">fa-floppy-o</option>
    <option {{isSelected 'fa-font' ../..}} value="fa-font">fa-font</option>
    <option {{isSelected 'fa-indent' ../..}} value="fa-indent">fa-indent</option>
    <option {{isSelected 'fa-italic' ../..}} value="fa-italic">fa-italic</option>
    <option {{isSelected 'fa-link' ../..}} value="fa-link">fa-link</option>
    <option {{isSelected 'fa-list' ../..}} value="fa-list">fa-list</option>
    <option {{isSelected 'fa-list-alt' ../..}} value="fa-list-alt">fa-list-alt</option>
    <option {{isSelected 'fa-list-ol' ../..}} value="fa-list-ol">fa-list-ol</option>
    <option {{isSelected 'fa-list-ul' ../..}} value="fa-list-ul">fa-list-ul</option>
    <option {{isSelected 'fa-outdent' ../..}} value="fa-outdent">fa-outdent</option>
    <option {{isSelected 'fa-paperclip' ../..}} value="fa-paperclip">fa-paperclip</option>
    <option {{isSelected 'fa-paste' ../..}} value="fa-paste">fa-paste</option>
    <option {{isSelected 'fa-repeat' ../..}} value="fa-repeat">fa-repeat</option>
    <option {{isSelected 'fa-rotate-left' ../..}} value="fa-rotate-left">fa-rotate-left</option>
    <option {{isSelected 'fa-rotate-right' ../..}} value="fa-rotate-right">fa-rotate-right</option>
    <option {{isSelected 'fa-save' ../..}} value="fa-save">fa-save</option>
    <option {{isSelected 'fa-scissors' ../..}} value="fa-scissors">fa-scissors</option>
    <option {{isSelected 'fa-strikethrough' ../..}} value="fa-strikethrough">fa-strikethrough</option>
    <option {{isSelected 'fa-table' ../..}} value="fa-table">fa-table</option>
    <option {{isSelected 'fa-text-height' ../..}} value="fa-text-height">fa-text-height</option>
    <option {{isSelected 'fa-text-width' ../..}} value="fa-text-width">fa-text-width</option>
    <option {{isSelected 'fa-th' ../..}} value="fa-th">fa-th</option>
    <option {{isSelected 'fa-th-large' ../..}} value="fa-th-large">fa-th-large</option>
    <option {{isSelected 'fa-th-list' ../..}} value="fa-th-list">fa-th-list</option>
    <option {{isSelected 'fa-underline' ../..}} value="fa-underline">fa-underline</option>
    <option {{isSelected 'fa-undo' ../..}} value="fa-undo">fa-undo</option>
    <option {{isSelected 'fa-unlink' ../..}} value="fa-unlink">fa-unlink</option>
  </optgroup>
  <optgroup label="Directional Icons">
    <option {{isSelected 'fa-angle-double-down' ../..}} value="fa-angle-double-down">fa-angle-double-down</option>
    <option {{isSelected 'fa-angle-double-left' ../..}} value="fa-angle-double-left">fa-angle-double-left</option>
    <option {{isSelected 'fa-angle-double-right' ../..}} value="fa-angle-double-right">fa-angle-double-right</option>
    <option {{isSelected 'fa-angle-double-up' ../..}} value="fa-angle-double-up">fa-angle-double-up</option>
    <option {{isSelected 'fa-angle-down' ../..}} value="fa-angle-down">fa-angle-down</option>
    <option {{isSelected 'fa-angle-left' ../..}} value="fa-angle-left">fa-angle-left</option>
    <option {{isSelected 'fa-angle-right' ../..}} value="fa-angle-right">fa-angle-right</option>
    <option {{isSelected 'fa-angle-up' ../..}} value="fa-angle-up">fa-angle-up</option>
    <option {{isSelected 'fa-arrow-circle-down' ../..}} value="fa-arrow-circle-down">fa-arrow-circle-down</option>
    <option {{isSelected 'fa-arrow-circle-left' ../..}} value="fa-arrow-circle-left">fa-arrow-circle-left</option>
    <option {{isSelected 'fa-arrow-circle-o-down' ../..}} value="fa-arrow-circle-o-down">fa-arrow-circle-o-down</option>
    <option {{isSelected 'fa-arrow-circle-o-left' ../..}} value="fa-arrow-circle-o-left">fa-arrow-circle-o-left</option>
    <option {{isSelected 'fa-arrow-circle-o-right' ../..}} value="fa-arrow-circle-o-right">fa-arrow-circle-o-right</option>
    <option {{isSelected 'fa-arrow-circle-o-up' ../..}} value="fa-arrow-circle-o-up">fa-arrow-circle-o-up</option>
    <option {{isSelected 'fa-arrow-circle-right' ../..}} value="fa-arrow-circle-right">fa-arrow-circle-right</option>
    <option {{isSelected 'fa-arrow-circle-up' ../..}} value="fa-arrow-circle-up">fa-arrow-circle-up</option>
    <option {{isSelected 'fa-arrow-down' ../..}} value="fa-arrow-down">fa-arrow-down</option>
    <option {{isSelected 'fa-arrow-left' ../..}} value="fa-arrow-left">fa-arrow-left</option>
    <option {{isSelected 'fa-arrow-right' ../..}} value="fa-arrow-right">fa-arrow-right</option>
    <option {{isSelected 'fa-arrow-up' ../..}} value="fa-arrow-up">fa-arrow-up</option>
    <option {{isSelected 'fa-arrows' ../..}} value="fa-arrows">fa-arrows</option>
    <option {{isSelected 'fa-arrows-alt' ../..}} value="fa-arrows-alt">fa-arrows-alt</option>
    <option {{isSelected 'fa-arrows-h' ../..}} value="fa-arrows-h">fa-arrows-h</option>
    <option {{isSelected 'fa-arrows-v' ../..}} value="fa-arrows-v">fa-arrows-v</option>
    <option {{isSelected 'fa-caret-down' ../..}} value="fa-caret-down">fa-caret-down</option>
    <option {{isSelected 'fa-caret-left' ../..}} value="fa-caret-left">fa-caret-left</option>
    <option {{isSelected 'fa-caret-right' ../..}} value="fa-caret-right">fa-caret-right</option>
    <option {{isSelected 'fa-caret-square-o-down' ../..}} value="fa-caret-square-o-down">fa-caret-square-o-down</option>
    <option {{isSelected 'fa-caret-square-o-left' ../..}} value="fa-caret-square-o-left">fa-caret-square-o-left</option>
    <option {{isSelected 'fa-caret-square-o-right' ../..}} value="fa-caret-square-o-right">fa-caret-square-o-right</option>
    <option {{isSelected 'fa-caret-square-o-up' ../..}} value="fa-caret-square-o-up">fa-caret-square-o-up</option>
    <option {{isSelected 'fa-caret-up' ../..}} value="fa-caret-up">fa-caret-up</option>
    <option {{isSelected 'fa-chevron-circle-down' ../..}} value="fa-chevron-circle-down">fa-chevron-circle-down</option>
    <option {{isSelected 'fa-chevron-circle-left' ../..}} value="fa-chevron-circle-left">fa-chevron-circle-left</option>
    <option {{isSelected 'fa-chevron-circle-right' ../..}} value="fa-chevron-circle-right">fa-chevron-circle-right</option>
    <option {{isSelected 'fa-chevron-circle-up' ../..}} value="fa-chevron-circle-up">fa-chevron-circle-up</option>
    <option {{isSelected 'fa-chevron-down' ../..}} value="fa-chevron-down">fa-chevron-down</option>
    <option {{isSelected 'fa-chevron-left' ../..}} value="fa-chevron-left">fa-chevron-left</option>
    <option {{isSelected 'fa-chevron-right' ../..}} value="fa-chevron-right">fa-chevron-right</option>
    <option {{isSelected 'fa-chevron-up' ../..}} value="fa-chevron-up">fa-chevron-up</option>
    <option {{isSelected 'fa-hand-o-down' ../..}} value="fa-hand-o-down">fa-hand-o-down</option>
    <option {{isSelected 'fa-hand-o-left' ../..}} value="fa-hand-o-left">fa-hand-o-left</option>
    <option {{isSelected 'fa-hand-o-right' ../..}} value="fa-hand-o-right">fa-hand-o-right</option>
    <option {{isSelected 'fa-hand-o-up' ../..}} value="fa-hand-o-up">fa-hand-o-up</option>
    <option {{isSelected 'fa-long-arrow-down' ../..}} value="fa-long-arrow-down">fa-long-arrow-down</option>
    <option {{isSelected 'fa-long-arrow-left' ../..}} value="fa-long-arrow-left">fa-long-arrow-left</option>
    <option {{isSelected 'fa-long-arrow-right' ../..}} value="fa-long-arrow-right">fa-long-arrow-right</option>
    <option {{isSelected 'fa-long-arrow-up' ../..}} value="fa-long-arrow-up">fa-long-arrow-up</option>
    <option {{isSelected 'fa-toggle-down' ../..}} value="fa-toggle-down">fa-toggle-down</option>
    <option {{isSelected 'fa-toggle-left' ../..}} value="fa-toggle-left">fa-toggle-left</option>
    <option {{isSelected 'fa-toggle-right' ../..}} value="fa-toggle-right">fa-toggle-right</option>
    <option {{isSelected 'fa-toggle-up' ../..}} value="fa-toggle-up">fa-toggle-up</option>
  </optgroup>
    <optgroup label="Video Player Icons">
    <option {{isSelected 'fa-arrows-alt' ../..}} value="fa-arrows-alt">fa-arrows-alt</option>
    <option {{isSelected 'fa-backward' ../..}} value="fa-backward">fa-backward</option>
    <option {{isSelected 'fa-compress' ../..}} value="fa-compress">fa-compress</option>
    <option {{isSelected 'fa-eject' ../..}} value="fa-eject">fa-eject</option>
    <option {{isSelected 'fa-expand' ../..}} value="fa-expand">fa-expand</option>
    <option {{isSelected 'fa-fast-backward' ../..}} value="fa-fast-backward">fa-fast-backward</option>
    <option {{isSelected 'fa-fast-forward' ../..}} value="fa-fast-forward">fa-fast-forward</option>
    <option {{isSelected 'fa-forward' ../..}} value="fa-forward">fa-forward</option>
    <option {{isSelected 'fa-pause' ../..}} value="fa-pause">fa-pause</option>
    <option {{isSelected 'fa-play' ../..}} value="fa-play">fa-play</option>
    <option {{isSelected 'fa-play-circle' ../..}} value="fa-play-circle">fa-play-circle</option>
    <option {{isSelected 'fa-play-circle-o' ../..}} value="fa-play-circle-o">fa-play-circle-o</option>
    <option {{isSelected 'fa-step-backward' ../..}} value="fa-step-backward">fa-step-backward</option>
    <option {{isSelected 'fa-step-forward' ../..}} value="fa-step-forward">fa-step-forward</option>
    <option {{isSelected 'fa-stop' ../..}} value="fa-stop">fa-stop</option>
    <option {{isSelected 'fa-youtube-play' ../..}} value="fa-youtube-play">fa-youtube-play</option>
  </optgroup>
  <optgroup label="Brand Icons">
    <option {{isSelected 'fa-adn' ../..}} value="fa-adn">fa-adn</option>
    <option {{isSelected 'fa-android' ../..}} value="fa-android">fa-android</option>
    <option {{isSelected 'fa-apple' ../..}} value="fa-apple">fa-apple</option>
    <option {{isSelected 'fa-bitbucket' ../..}} value="fa-bitbucket">fa-bitbucket</option>
    <option {{isSelected 'fa-bitbucket-square' ../..}} value="fa-bitbucket-square">fa-bitbucket-square</option>
    <option {{isSelected 'fa-bitcoin' ../..}} value="fa-bitcoin">fa-bitcoin</option>
    <option {{isSelected 'fa-btc' ../..}} value="fa-btc">fa-btc</option>
    <option {{isSelected 'id' ../..}} value="css3 fa-css3"></option>
    <option {{isSelected 'fa-dribbble' ../..}} value="fa-dribbble">fa-dribbble</option>
    <option {{isSelected 'fa-dropbox' ../..}} value="fa-dropbox">fa-dropbox</option>
    <option {{isSelected 'fa-facebook' ../..}} value="fa-facebook">fa-facebook</option>
    <option {{isSelected 'fa-facebook-square' ../..}} value="fa-facebook-square">fa-facebook-square</option>
    <option {{isSelected 'fa-flickr' ../..}} value="fa-flickr">fa-flickr</option>
    <option {{isSelected 'fa-foursquare' ../..}} value="fa-foursquare">fa-foursquare</option>
    <option {{isSelected 'fa-github' ../..}} value="fa-github">fa-github</option>
    <option {{isSelected 'fa-github-alt' ../..}} value="fa-github-alt">fa-github-alt</option>
    <option {{isSelected 'fa-github-square' ../..}} value="fa-github-square">fa-github-square</option>
    <option {{isSelected 'fa-gittip' ../..}} value="fa-gittip">fa-gittip</option>
    <option {{isSelected 'fa-google-plus' ../..}} value="fa-google-plus">fa-google-plus</option>
    <option {{isSelected 'fa-google-plus-square' ../..}} value="fa-google-plus-square">fa-google-plus-square</option>
    <option {{isSelected 'id' ../..}} value="html5 fa-html5"></option>
    <option {{isSelected 'fa-instagram' ../..}} value="fa-instagram">fa-instagram</option>
    <option {{isSelected 'fa-linkedin' ../..}} value="fa-linkedin">fa-linkedin</option>
    <option {{isSelected 'fa-linkedin-square' ../..}} value="fa-linkedin-square">fa-linkedin-square</option>
    <option {{isSelected 'fa-linux' ../..}} value="fa-linux">fa-linux</option>
    <option {{isSelected 'fa-maxcdn' ../..}} value="fa-maxcdn">fa-maxcdn</option>
    <option {{isSelected 'fa-pagelines' ../..}} value="fa-pagelines">fa-pagelines</option>
    <option {{isSelected 'fa-pinterest' ../..}} value="fa-pinterest">fa-pinterest</option>
    <option {{isSelected 'fa-pinterest-square' ../..}} value="fa-pinterest-square">fa-pinterest-square</option>
    <option {{isSelected 'fa-renren' ../..}} value="fa-renren">fa-renren</option>
    <option {{isSelected 'fa-skype' ../..}} value="fa-skype">fa-skype</option>
    <option {{isSelected 'fa-stack-exchange' ../..}} value="fa-stack-exchange">fa-stack-exchange</option>
    <option {{isSelected 'fa-stack-overflow' ../..}} value="fa-stack-overflow">fa-stack-overflow</option>
    <option {{isSelected 'fa-trello' ../..}} value="fa-trello">fa-trello</option>
    <option {{isSelected 'fa-tumblr' ../..}} value="fa-tumblr">fa-tumblr</option>
    <option {{isSelected 'fa-tumblr-square' ../..}} value="fa-tumblr-square">fa-tumblr-square</option>
    <option {{isSelected 'fa-twitter' ../..}} value="fa-twitter">fa-twitter</option>
    <option {{isSelected 'fa-twitter-square' ../..}} value="fa-twitter-square">fa-twitter-square</option>
    <option {{isSelected 'fa-vimeo-square' ../..}} value="fa-vimeo-square">fa-vimeo-square</option>
    <option {{isSelected 'fa-vk' ../..}} value="fa-vk">fa-vk</option>
    <option {{isSelected 'fa-weibo' ../..}} value="fa-weibo">fa-weibo</option>
    <option {{isSelected 'fa-windows' ../..}} value="fa-windows">fa-windows</option>
    <option {{isSelected 'fa-xing' ../..}} value="fa-xing">fa-xing</option>
    <option {{isSelected 'fa-xing-square' ../..}} value="fa-xing-square">fa-xing-square</option>
    <option {{isSelected 'fa-youtube' ../..}} value="fa-youtube">fa-youtube</option>
    <option {{isSelected 'fa-youtube-play' ../..}} value="fa-youtube-play">fa-youtube-play</option>
    <option {{isSelected 'fa-youtube-square' ../..}} value="fa-youtube-square">fa-youtube-square</option>
  </optgroup>
  <optgroup label="Medical Icons">
    <option {{isSelected 'fa-ambulance' ../..}} value="fa-ambulance">fa-ambulance</option>
    <option {{isSelected 'fa-h-square' ../..}} value="fa-h-square">fa-h-square</option>
    <option {{isSelected 'fa-hospital-o' ../..}} value="fa-hospital-o">fa-hospital-o</option>
    <option {{isSelected 'fa-medkit' ../..}} value="fa-medkit">fa-medkit</option>
    <option {{isSelected 'fa-plus-square' ../..}} value="fa-plus-square">fa-plus-square</option>
    <option {{isSelected 'fa-stethoscope' ../..}} value="fa-stethoscope">fa-stethoscope</option>
    <option {{isSelected 'fa-user-md' ../..}} value="fa-user-md">fa-user-md</option>
    <option {{isSelected 'fa-wheelchair' ../..}} value="fa-wheelchair">fa-wheelchair</option>
  </optgroup>
</template>
